<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sabertooth.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Sabertooth.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Sabertooth.MySettings>
      <setting name="autostart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="paths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="folders" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>[R]Audio</string>
            <string>[R]Video</string>
            <string>[R]Compressed</string>
            <string>[R]Java</string>
            <string>[R]Torrent</string>
            <string>[R]Picture</string>
            <string>[R]RAW</string>
            <string>[R]PDF</string>
            <string>[R]Document</string>
            <string>[R]Executable</string>
            <string>[R]Spreadsheet</string>
            <string>[R]Presentation</string>
            <string>[R]Folder</string>
            <string>[R]ISO</string>
            <string>[R]Other</string>
            <string>[R]GIF - WEBM</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="extensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.exe</string>
            <string>[R]Executable</string>
            <string>.pdf</string>
            <string>[R]PDF</string>
            <string>.iso</string>
            <string>[R]ISO</string>
            <string>.img</string>
            <string>[R]ISO</string>
            <string>.jar</string>
            <string>[R]Java</string>
            <string>.java</string>
            <string>[R]Java</string>
            <string>.rar</string>
            <string>[R]Compressed</string>
            <string>.zip</string>
            <string>[R]Compressed</string>
            <string>.7z</string>
            <string>[R]Compressed</string>
            <string>.gz</string>
            <string>[R]Compressed</string>
            <string>.docx</string>
            <string>[R]Document</string>
            <string>.doc</string>
            <string>[R]Document</string>
            <string>.docm</string>
            <string>[R]Document</string>
            <string>.gdoc</string>
            <string>[R]Document</string>
            <string>.txt</string>
            <string>[R]Document</string>
            <string>.dot</string>
            <string>[R]Document</string>
            <string>.dotm</string>
            <string>[R]Document</string>
            <string>.xls</string>
            <string>[R]Spreadsheet</string>
            <string>.xlsw</string>
            <string>[R]Spreadsheet</string>
            <string>.xlt</string>
            <string>[R]Spreadsheet</string>
            <string>.xltx</string>
            <string>[R]Spreadsheet</string>
            <string>.xltm</string>
            <string>[R]Spreadsheet</string>
            <string>.xlsx</string>
            <string>[R]Spreadsheet</string>
            <string>.xlsm</string>
            <string>[R]Spreadsheet</string>
            <string>.gdoc</string>
            <string>[R]Spreadsheet</string>
            <string>.jpg</string>
            <string>[R]Picture</string>
            <string>.jpeg</string>
            <string>[R]Picture</string>
            <string>.png</string>
            <string>[R]Picture</string>
            <string>.tiff</string>
            <string>[R]Picture</string>
            <string>.ico</string>
            <string>[R]Picture</string>
            <string>.svg</string>
            <string>[R]Picture</string>
            <string>.psd</string>
            <string>[R]Picture</string>
            <string>.ai</string>
            <string>[R]Picture</string>
            <string>.gif</string>
            <string>[R]GIF - WEBM</string>
            <string>.webm</string>
            <string>[R]GIF - WEBM</string>
            <string>.mp4</string>
            <string>[R]Video</string>
            <string>.flv</string>
            <string>[R]Video</string>
            <string>.avi</string>
            <string>[R]Video</string>
            <string>.wmv</string>
            <string>[R]Video</string>
            <string>.mov</string>
            <string>[R]Video</string>
            <string>.mkv</string>
            <string>[R]Video</string>
            <string>.m4v</string>
            <string>[R]Video</string>
            <string>.mp3</string>
            <string>[R]Audio</string>
            <string>.ac3</string>
            <string>[R]Audio</string>
            <string>.wma</string>
            <string>[R]Audio</string>
            <string>.aac</string>
            <string>[R]Audio</string>
            <string>.ogg</string>
            <string>[R]Audio</string>
            <string>.m4a</string>
            <string>[R]Audio</string>
            <string>.flac</string>
            <string>[R]Audio</string>
            <string>.wav</string>
            <string>[R]Audio</string>
            <string>.aiff</string>
            <string>[R]Audio</string>
            <string>.aea</string>
            <string>[R]Audio</string>
            <string>.rm</string>
            <string>[R]Audio</string>
            <string>.cr2</string>
            <string>[R]RAW</string>
            <string>.cr3</string>
            <string>[R]RAW</string>
            <string>.crw</string>
            <string>[R]RAW</string>
            <string>.arw</string>
            <string>[R]RAW</string>
            <string>.dng</string>
            <string>[R]RAW</string>
            <string>.nef</string>
            <string>[R]RAW</string>
            <string>.tif</string>
            <string>[R]RAW</string>
            <string>.pptx</string>
            <string>[R]Presentation</string>
            <string>.ppt</string>
            <string>[R]Presentation</string>
            <string>.gslides</string>
            <string>[R]Presentation</string>
            <string>.ppsx</string>
            <string>[R]Presentation</string>
            <string>.pps</string>
            <string>[R]Presentation</string>
            <string>.pptm</string>
            <string>[R]Presentation</string>
            <string>.torrent</string>
            <string>[R]Torrent</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="startMin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pathSettings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="autoOrg" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="whiteList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.crdownload</string>
            <string>.ini</string>
            <string>.inf</string>
            <string>.crx</string>
            <string>.opdownload</string>
            <string>.part</string>
            <string>.temp</string>
            <string>.tmp</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="autoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ver" serializeAs="String">
        <value>1.0.7</value>
      </setting>
      <setting name="autoOrgState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="recursive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="closeExit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cfulink" serializeAs="String">
        <value>https://raw.githubusercontent.com/recoskyler/Sabertooth/master/ver.txt</value>
      </setting>
      <setting name="dlink" serializeAs="String">
        <value />
      </setting>
      <setting name="latestver" serializeAs="String">
        <value>1.0.0</value>
      </setting>
    </Sabertooth.MySettings>
    <Sabertooth.My.MySettings>
      <setting name="autostart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="paths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="folders" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>[R]Audio</string>
            <string>[R]Video</string>
            <string>[R]Compressed</string>
            <string>[R]Java</string>
            <string>[R]Torrent</string>
            <string>[R]Picture</string>
            <string>[R]RAW</string>
            <string>[R]PDF</string>
            <string>[R]Document</string>
            <string>[R]Executable</string>
            <string>[R]Spreadsheet</string>
            <string>[R]Presentation</string>
            <string>[R]Folder</string>
            <string>[R]ISO</string>
            <string>[R]Other</string>
            <string>[R]GIF - WEBM</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="extensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.exe</string>
            <string>[R]Executable</string>
            <string>.pdf</string>
            <string>[R]PDF</string>
            <string>.iso</string>
            <string>[R]ISO</string>
            <string>.img</string>
            <string>[R]ISO</string>
            <string>.jar</string>
            <string>[R]Java</string>
            <string>.java</string>
            <string>[R]Java</string>
            <string>.rar</string>
            <string>[R]Compressed</string>
            <string>.zip</string>
            <string>[R]Compressed</string>
            <string>.7z</string>
            <string>[R]Compressed</string>
            <string>.gz</string>
            <string>[R]Compressed</string>
            <string>.docx</string>
            <string>[R]Document</string>
            <string>.doc</string>
            <string>[R]Document</string>
            <string>.docm</string>
            <string>[R]Document</string>
            <string>.gdoc</string>
            <string>[R]Document</string>
            <string>.txt</string>
            <string>[R]Document</string>
            <string>.dot</string>
            <string>[R]Document</string>
            <string>.dotm</string>
            <string>[R]Document</string>
            <string>.xls</string>
            <string>[R]Spreadsheet</string>
            <string>.xlsw</string>
            <string>[R]Spreadsheet</string>
            <string>.xlt</string>
            <string>[R]Spreadsheet</string>
            <string>.xltx</string>
            <string>[R]Spreadsheet</string>
            <string>.xltm</string>
            <string>[R]Spreadsheet</string>
            <string>.xlsx</string>
            <string>[R]Spreadsheet</string>
            <string>.xlsm</string>
            <string>[R]Spreadsheet</string>
            <string>.gdoc</string>
            <string>[R]Spreadsheet</string>
            <string>.jpg</string>
            <string>[R]Picture</string>
            <string>.jpeg</string>
            <string>[R]Picture</string>
            <string>.png</string>
            <string>[R]Picture</string>
            <string>.tiff</string>
            <string>[R]Picture</string>
            <string>.ico</string>
            <string>[R]Picture</string>
            <string>.svg</string>
            <string>[R]Picture</string>
            <string>.psd</string>
            <string>[R]Picture</string>
            <string>.ai</string>
            <string>[R]Picture</string>
            <string>.gif</string>
            <string>[R]GIF - WEBM</string>
            <string>.webm</string>
            <string>[R]GIF - WEBM</string>
            <string>.mp4</string>
            <string>[R]Video</string>
            <string>.flv</string>
            <string>[R]Video</string>
            <string>.avi</string>
            <string>[R]Video</string>
            <string>.wmv</string>
            <string>[R]Video</string>
            <string>.mov</string>
            <string>[R]Video</string>
            <string>.mkv</string>
            <string>[R]Video</string>
            <string>.m4v</string>
            <string>[R]Video</string>
            <string>.mp3</string>
            <string>[R]Audio</string>
            <string>.ac3</string>
            <string>[R]Audio</string>
            <string>.wma</string>
            <string>[R]Audio</string>
            <string>.aac</string>
            <string>[R]Audio</string>
            <string>.ogg</string>
            <string>[R]Audio</string>
            <string>.m4a</string>
            <string>[R]Audio</string>
            <string>.flac</string>
            <string>[R]Audio</string>
            <string>.wav</string>
            <string>[R]Audio</string>
            <string>.aiff</string>
            <string>[R]Audio</string>
            <string>.aea</string>
            <string>[R]Audio</string>
            <string>.rm</string>
            <string>[R]Audio</string>
            <string>.cr2</string>
            <string>[R]RAW</string>
            <string>.cr3</string>
            <string>[R]RAW</string>
            <string>.crw</string>
            <string>[R]RAW</string>
            <string>.arw</string>
            <string>[R]RAW</string>
            <string>.dng</string>
            <string>[R]RAW</string>
            <string>.nef</string>
            <string>[R]RAW</string>
            <string>.tif</string>
            <string>[R]RAW</string>
            <string>.pptx</string>
            <string>[R]Presentation</string>
            <string>.ppt</string>
            <string>[R]Presentation</string>
            <string>.gslides</string>
            <string>[R]Presentation</string>
            <string>.ppsx</string>
            <string>[R]Presentation</string>
            <string>.pps</string>
            <string>[R]Presentation</string>
            <string>.pptm</string>
            <string>[R]Presentation</string>
            <string>.torrent</string>
            <string>[R]Torrent</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="startMin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pathSettings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="autoOrg" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="whiteList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.crdownload</string>
            <string>.ini</string>
            <string>.inf</string>
            <string>.crx</string>
            <string>.opdownload</string>
            <string>.part</string>
            <string>.temp</string>
            <string>.tmp</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="autoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ver" serializeAs="String">
        <value>1.0.1</value>
      </setting>
      <setting name="autoOrgState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="recursive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="closeExit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cfulink" serializeAs="String">
        <value>https://doc-0o-00-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/oi1j7pqa3j02ddgngsd9udmom6cgishv/1531173600000/16354782375476842736/*/0BxMYbMbrBH2_aXBibkJFNFhJVEk?e=download</value>
      </setting>
      <setting name="dlink" serializeAs="String">
        <value />
      </setting>
      <setting name="latestver" serializeAs="String">
        <value>1.0.0</value>
      </setting>
    </Sabertooth.My.MySettings>
  </userSettings>
</configuration>