html {
    font-family: Verdana;
    color:#212121;
    text-align: left;
    font-size: 16px;
    background-color: #00BCD4;
}

#title {
    display: block;
    position: relative;
    font-family: Verdana;
    color:white;
    text-align: left;
}

head {
    display: none;
    padding:0;
    margin:0;
}

body {
    position: relative;
    display: block;
    padding:0;
    margin:0;
}

h3 {
    color:#3F51B5;
}

.FormImage {
    display: inline-block;
    position: relative;
    margin: 20px;
    margin-top:0;
    margin-left:0;
    border:1px solid deeppink;
    clear:left;
}

.FormText {
    float: left;
    clear:left;
    margin:0;
    padding:0;
}

.inlineHeadImg {
    display:block;
    position: relative;
    height:18px;
    width:auto;
    float:left;
    margin:0;
    margin-right:5px;
    clear:left;
}

.inlineImg {
    display: inline-block;
    position: relative;
    height:18px;
    width:auto;
    margin:0;
    margin-left:5px;
    margin-right:5px;
    clear:left;
}

td {
    vertical-align: top;
    padding:0;
    margin:0;
    padding-bottom: 15px;
}

tr {
    margin:0;
    padding:0;
}

p {
    position:relative;
    padding:0;
    margin:0;
}

.HeadImg {
    display:block;
    position: relative;
    float:left;
    height:55px;
    margin-right:15px;
    padding-top:15px;
}

.subject {
    display:block;
    position: relative;
    padding-top:10px;
    padding-bottom:30px;
}

.warning {
    color:#f44336;
}

a {
    color: deeppink;
    text-decoration:none;
}

#cont {
    display:block;
    position:center;
    background-color:white;
    width:50%;
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    margin-left:auto;
    margin-right:auto;
    box-shadow:0 0 15px black;
}

h4 {
    color: #673AB7;
}

#titlebar {
    background-color:#3F51B5;
    display:block;
    position:center;
    width:50%;
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    margin-left:auto;
    margin-right:auto;
    box-shadow:0 0 15px black;
}